/* Footer.css */

.footer {
    background-color: #333; /* Koyu arka plan */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .footerText {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  