.product-container {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    position: relative;
    margin-bottom: 100px;
    min-height: 100vh;
}